<template>
  <div class="text-center margin-top">
    <h1>Your Task manager</h1>
    <br />
    <h3>Tasks</h3>
  </div>
  <div v-if="tasks.length">
    <div v-for="task in tasks" :key="task.id">
      <SingleTask :task="task" @deleteTask="taskDeleted" @markedAsDone="markAsDone" />
    </div>
  </div>

  <router-link to="/new-task">
    <button class="new-Project"><i class="fas fa-plus"></i> Add New Project</button>
  </router-link>
</template>

<script>
import axios from 'axios';

import SingleTask from '../components/SingleTask.vue';

export default {
  name: 'Home',
  components: { SingleTask },
  data() {
    return {
      tasks: [],
    };
  },
  mounted() {
    this.getFreshData();
  },

  methods: {
    getFreshData() {
      axios.get(`http://localhost:3000/tasks`).then((data) => (this.tasks = data.data));
    },

    taskDeleted() {
      this.getFreshData();
    },

    markAsDone() {
      this.getFreshData();
    },
  },
};
</script>

<style scoped>
.new-Project {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-Project i {
  margin: 0px 10px;
  font-size: 15px;
  color: white;
}

a {
  text-decoration: none;
}
</style>
