<template>
  <h1 class="text-center margin-top">Edit your Task</h1>
  <br />

  <form @submit.prevent="editTask">
    <label for="title">Task title</label>
    <input v-model="title" type="text" name="title" id="title" required />
    <label for="desc">Task title</label>
    <textarea v-model="desc" name="desc" id="desc" required></textarea>

    <button>Edit Task</button>
    <button @click="cancel" class="cancel" type="button">Cancel</button>
  </form>
</template>

<script>
import axios from 'axios';
export default {
  props: ['id'],
  data() {
    return {
      title: '',
      desc: '',
    };
  },
  mounted() {
    axios.get(`http://localhost:3000/tasks/${this.id}`).then((data) => {
      this.title = data.data.title;
      this.desc = data.data.desc;
    });
  },

  methods: {
    cancel() {
      this.$router.push('/');
    },

    editTask() {
      axios
        .patch(`http://localhost:3000/tasks/${this.id}`, {
          title: this.title,
          desc: this.desc,
        })
        .then(() => {
          this.$router.push('/');
        });
    },
  },
};
</script>

<style>
.cancel {
  background-color: #fff;
  color: #333;
  border: 2px solid red;
}
</style>
