<template>
  <h1 class="text-center margin-top">Add a New Task</h1>
  <br />

  <form @submit.prevent="addNewTask">
    <label for="title">Task title</label>
    <input v-model="title" type="text" name="title" id="title" required />
    <label for="desc">Task title</label>
    <textarea v-model="desc" name="desc" id="desc" required></textarea>

    <button>Add New Task</button>
  </form>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      title: '',
      desc: '',
    };
  },

  methods: {
    addNewTask() {
      axios
        .post(`http://localhost:3000/tasks`, {
          title: this.title,
          desc: this.desc,
          complete: false,
        })
        .then(() => this.$router.push('/'));
    },
  },
};
</script>

<style scoped></style>
