<template>
  <div class="task" :class="{ complete: task.complete }">
    <div class="task-heading">
      <h2 @click="showHideDesc">{{ task.title }}</h2>
      <div>
        <i @click="editTask" class="fas fa-pencil-alt "></i>
        <i @click="deleteTask" class="fas fa-trash-alt "></i>
        <i v-if="!task.complete" @click="markAsDone" class="fas fa-check "></i>
        <i v-if="task.complete" @click="markAsDone" class="fas fa-times "></i>
      </div>
    </div>

    <div v-show="showDesc" class="task-desc">
      <h4>{{ task.desc }}</h4>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  props: ['task'],
  data() {
    return {
      showDesc: false,
      url: `http://localhost:3000/tasks/${this.task.id}`,
    };
  },
  methods: {
    showHideDesc() {
      this.showDesc = !this.showDesc;
    },

    editTask() {
      this.$router.push(`/edit-task/${this.task.id}`);
    },

    markAsDone() {
      axios
        .patch(this.url, {
          complete: !this.task.complete,
        })
        .then(() => {
          this.$emit('markedAsDone');
        });
    },

    deleteTask() {
      axios.delete(this.url).then(() => {
        this.$emit('deleteTask');
      });
    },
  },
};
</script>

<style>
.task {
  cursor: pointer;
  width: 600px;
  margin: 20px auto;
  background: white;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
  border-left: 15px solid red;
}

.complete {
  border-left: 15px solid green;
}

h2 {
  padding: 20px 0px;
}

.task-desc {
  margin: 10px 0px;
}

.task-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i {
  font-size: 24px;
  margin-left: 20px;
  color: #333;
  cursor: pointer;
}

i:hover {
  color: #777;
}
</style>
