:root {
  --background-color: #f4f4f4;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  max-width: 800px;
  margin: 0px auto;
  padding: 0px 30px;
}

.text-center {
  text-align: center;
}

.margin-top {
  margin-top: 40px;
}

button {
  display: block;
  margin: 20px auto 0;
  background: red;
  color: white;
  padding: 10px;
  border: 0;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

form {
  background: white;
  padding: 20px;
  border-radius: 10px;
}
label {
  display: block;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0 10px 0;
}
input {
  padding: 10px;
  border: 0;
  border-bottom: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
}
textarea {
  border: 1px solid #ddd;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  height: 100px;
}
